Fuente_AplicaciónENREL/ENREL/Service References/NotificacionesIOP/NotificacionDeInteroperabilidad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.Notificacion.Body" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.Notificacion.Body" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EstatusEntregaMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstatusEntregaMensaje" nillable="true" type="tns:EstatusEntregaMensaje" />
</xs:schema>