Fuente_AplicaciónENREL/ENREL/Service References/NotificacionesIOP/NotificacionDeInteroperabilidad6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.gob.mx/iop-service" elementFormDefault="qualified" targetNamespace="http://api.gob.mx/iop-service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api-interoperabilidad-qa.azurewebsites.net/NotificacionDeInteroperabilidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.NotificacionRequest" />
  <xs:import schemaLocation="http://api-interoperabilidad-qa.azurewebsites.net/NotificacionDeInteroperabilidad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.Notificacion.Body" />
  <xs:element name="notificacionDeInteroperabilidadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.NotificacionRequest" minOccurs="0" name="DocumentosAdjuntos" nillable="true" type="q1:DocumentosAdjuntos" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.NotificacionRequest" minOccurs="0" name="HeaderInteroperabilidad" nillable="true" type="q2:HeaderInteroperabilidad" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.NotificacionRequest" minOccurs="0" name="InformacionDeNegocio" nillable="true" type="q3:InformacionDeNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notificacionDeInteroperabilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Undani.Interoperabilidad.Domain.Notificacion.Body" minOccurs="0" name="EstatusEntregaMensaje" nillable="true" type="q4:EstatusEntregaMensaje" />
        <xs:element minOccurs="0" name="FolioPeticion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FolioRespuesta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>