Fuente_AplicaciónENREL/ENREL/Service References/NotIOPCENACE/VUN2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicios.cenace.gob.mx/vun/VUN.Middleware.VunSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUN.Middleware.Models.VUN_SENER" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificacionDeInteroperabilidadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VUN.Middleware.Models.VUN_SENER" minOccurs="0" name="request" nillable="true" type="q1:NotificacionDeInteroperabilidadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificacionDeInteroperabilidadRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VUN.Middleware.Models.VUN_SENER" minOccurs="0" name="NotificacionDeInteroperabilidadRequestResult" nillable="true" type="q2:NotificacionDeInteroperabilidadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>