Fuente_AplicaciónENREL/ENREL/Service References/NotIOPCENACE/VunSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VunSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://servicios.cenace.gob.mx/vun/VUN.Middleware.VunSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://servicios.cenace.gob.mx/vun/VUN.Middleware.VunSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://servicios.cenace.gob.mx/vun/VUN.Middleware.VunSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUN.Middleware.Models.VUN_SENER" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVunSvc_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IVunSvc_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IVunSvc_NotificacionDeInteroperabilidadRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:NotificacionDeInteroperabilidadRequest" />
  </wsdl:message>
  <wsdl:message name="IVunSvc_NotificacionDeInteroperabilidadRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotificacionDeInteroperabilidadRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IVunSvc">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IVunSvc/Ping" message="tns:IVunSvc_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVunSvc/PingResponse" message="tns:IVunSvc_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificacionDeInteroperabilidadRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IVunSvc/NotificacionDeInteroperabilidadRequest" message="tns:IVunSvc_NotificacionDeInteroperabilidadRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVunSvc/NotificacionDeInteroperabilidadRequestResponse" message="tns:IVunSvc_NotificacionDeInteroperabilidadRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVunSvc" type="tns:IVunSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IVunSvc/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificacionDeInteroperabilidadRequest">
      <soap:operation soapAction="http://tempuri.org/IVunSvc/NotificacionDeInteroperabilidadRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VunSvc">
    <wsdl:port name="BasicHttpBinding_IVunSvc" binding="tns:BasicHttpBinding_IVunSvc">
      <soap:address location="http://servicios.cenace.gob.mx/vun/VUN.Middleware.VunSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>